*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
badapple640^480_20fps.bin
 
RTE/
Templates/
Examples/
pic/
video/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.hex